Package: joystick
Version: 20051019-3
Architecture: i386
Maintainer: Stephen Kitt <steve@sk2.org>
Installed-Size: 96
Depends: libc6 (>= 2.7-1)
Section: utils
Priority: optional
Homepage: http://linuxconsole.sourceforge.net/
Description: Testing and calibration tools
 Some useful tools for using joysticks:
  jstest (1)      - joystick test program
  jscal (1)       - joystick calibration program
  inputattach (1) - attach a serial line to a joystick device
