Source: joystick
Section: utils
Priority: optional
Maintainer: Stephen Kitt <steve@sk2.org>
Standards-Version: 3.7.2
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.1.0), quilt (>= 0.40)
Homepage: http://linuxconsole.sourceforge.net/

Package: joystick
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: Testing and calibration tools
 Some useful tools for using joysticks:
  jstest (1)      - joystick test program
  jscal (1)       - joystick calibration program
  inputattach (1) - attach a serial line to a joystick device
