Source: joystick
Section: utils
Priority: extra
Maintainer: Stephen Kitt <steve@sk2.org>
Standards-Version: 3.8.0
Build-Depends: cdbs, debhelper (>= 7), quilt (>= 0.46-6)
Homepage: http://linuxconsole.sourceforge.net/

Package: joystick
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: set of testing and calibration tools for joysticks
 Some useful tools for using joysticks:
  jstest (1)      - joystick test program
  jscal (1)       - joystick calibration program
  inputattach (1) - attach a serial line to a joystick device
